/* ================= BASE ================= */
.sidebar {
  width: 250px;
  background: #212529;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1050;
  transition: transform 0.3s ease-in-out;
}

.custom-green {
  background-color: #198754; /* Bootstrap success green */
}

.custom-blue {
  background-color: #063375; /* Bootstrap success green */
}


.menu-btn {
  background-color: #063375; /* blue */
  border: none;

}

.menu-btn i {
  color: #ffffff; /* white bars */
  font-size: 20px;
}



.main-content {
  padding: 0px;
  background: #f8f9fa;
  min-height: 100vh;
}

/* ================= DESKTOP ================= */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}

/* ================= MOBILE ================= */
@media (max-width: 767px) {
  .sidebar {
    top: 56px; /* navbar height */
    height: calc(100vh - 56px);
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    padding-top: 70px;
  }
}

/* ================= OVERLAY ================= */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1040;
}
