

.card {
  border-radius: 12px;
}

.card-header {
  background: linear-gradient(90deg, #007bff, #0056b3);
}

.form-label {
  font-weight: 500;
}

.token-big {
  font-size: 100px;
  font-weight: bold;
  color: #198754;
  display: block;
  margin-top: 8px;
  text-align: center;
}